@import "variables.scss";
@import "normalize.scss";
@import "base-elements.scss";

.container {
  max-width: 1250px;
  margin: auto;
}

// Header

.header {
  display: flex;
  gap: 297px;
  width: 1250px;
  height: 85px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 29px 69px;
  &__logo {
    width: 125px;
    height: 25px;
    flex-shrink: 0;
  }

  &__menu {
    display: flex;
    gap: 20px;
    height: 20px;
    align-items: flex-end;
  }

  &__nav {
    padding-top: 3px;
  }

  &__link {
    color: $black-text;
    font-size: 18px;
    line-height: 20px;
    &:hover {
      opacity: 0.9;
    }
  }
}

.hero {
  background:
    url("../images/bg.jpg"),
    lightgray 50% / cover no-repeat;
  width: 1250px;
  height: 600px;
  flex-shrink: 0;
  &__content {
    width: 709px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    margin: 158px 70px;
  }

  &__title {
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
  }
}

.description {
  @include flex-column;
  justify-content: center;
  align-items: center;
  &__inner {
    display: flex;
    width: 1110px;
    height: 352px;
    padding: 100px 110px;
    margin-top: 102px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #fff;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.08);
  }

  &__text {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    width: 890px;
    &_red {
      color: $red-text;
    }
  }

  &__digits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 80px;
    margin-top: 99px;
    margin-bottom: 98px;
    width: 890px;
  }

  .first-row {
    display: flex;
    gap: 185px;
    width: 100%;
  }
  .second-row {
    display: flex;
    column-gap: 180px;
    justify-content: center;
    .description__item {
      max-width: 213px;
    }
  }

  &__item {
    @include flex-column;
    max-width: 243px;
    gap: 4px;
    &_padding {
      padding-left: 2px;
    }
  }

  &__digit {
    display: flex;
    gap: 10px;
    color: $red-active;
    font-size: 80px;
    line-height: 80%;
    opacity: 0.95;
  }

  &__sign {
    color: $red-active;
    font-size: 64px;
    line-height: 100%;
    opacity: 0.95;
    &_bold {
      font-weight: 900;
    }
  }
  
  &__explanation {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    &_long {
      line-height: 120%;
      padding-top: 1px;
    }
  }
}

// Section map

.offices {
  @include flex-column;
  gap: 90px;
  position: relative;
  &__header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    height: 80px;
    padding: 28px 70px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
  }

  &__dropdown {
    display: flex;
    gap: 16px;
    position: relative;
    z-index: 10;
    &:hover {
      cursor: pointer;
    }
  }

  &__inner {
    display: flex;
    gap: 16px;
    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
  }

  &__dropdown-arrow {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    transition: transform 0.7s ease;
  }

  &__dropdown-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    opacity: 0;
    position: absolute;
    top: 72px;
    left: -70px;
    width: 1250px;
    padding: 30px 10px;
    background: #fff;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.06);
    cursor: auto;
    transition: all 0.7s ease;
  }

  .submenu {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-column-gap: 20px;
    width: 1113px;
    &__item {
      @include submenu-text;
      @include flex-column;
      gap: 12px;
      cursor: auto;
    }
    &__links {
      @include flex-column;
      gap: 12px;
    }
    &__link {
      color: $black-text;
      font-weight: 400;
      cursor: pointer;
    }
  }

  &__menu {
    display: flex;
    gap: 30.5px;
    transition: opacity 0.7s ease;
    padding-top: 3px;
  }

  &__item {
    @include flex-column;
    align-items: center;
    font-size: 18px;
    line-height: 20px;
    position: relative;
    &:hover {
      color: $red-active;
      cursor: pointer;
      transition: 0.7s;
    }
  }

  .active {
    color: $red-active;
  }

  .active::before {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $red-active;
  }

  &__map {
    margin: auto;
    transition: opacity 0.7s ease;
  }

  &__image {
    max-width: 1190px;
    height: 604px;
  }
}

.mission {
  border: 1px solid green;
}
.directions {
  border: 1px solid brown;
}
.compensation {
  border: 1px solid pink;
}
.corporate-life {
  border: 1px solid yellow;
}

.hidden {
  display: none;
}

.show {
  display: flex;
  opacity: 1;
  animation: fadeInFromNone 0.7s ease-in-out;
}
