$white: #fff;
$black-text: #444444;
$red-active: #a30c33;
$red-text: #b01736;
$font-family: Proxima Nova Condensed;

:root {
  --swiper-pagination-bullet-inactive-opacity: 0.1;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-color: #a30c33;
}

@mixin submenu-text {
  font-family: Proxima Nova;
  font-size: 18px;
  line-height: 20px;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin background-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin section-title {
  text-align: center;
  font-size: 56px;
  line-height: 100%;
  font-weight: 600;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}
